.card-wrapper, .row-2 {
  @include flexbox ($disp: flex,
  $dir: column,
  $wrap: wrap,
  $just: space-around);
  align-items: center;
  background: $theme-secondary;
  color: $font-c-secondary;
     @include mq(medium) {
        @include flexbox($dir: row);
        padding: 50px;
  }
} 


.card {
  min-height: 352px;
}

.wrapper-grey {
  background: $theme-tertiary;
}

/*TESTIMONIALS SECTION */

.testimonials {
  @include flexbox ($disp: flex,
  $dir: column,
  $wrap: wrap,
  $just: space-around);
  @include mq(medium) {
    @include flexbox($dir: row);
    padding: 80px 50px;
  }
}

.why-us {
  @include flexbox ($disp: flex, $dir: column, $wrap: wrap, $just: space-around);
  background-image: url(../images/home-office-599475_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  padding: 80px 0;
   @include mq (large) {
     @include flexbox ($dir: row);
     max-height: em(400px);
   }

}

.column-left {
  
  color: $theme-secondary;
  @include mq (medium) {
    text-align: left;
    max-width: 50%;
    height: auto;
    padding-left: em(100px);
  }
 }

 .column-left hr {
   @include mq (medium) {
     float: left;
   }
 }

.main-heading {
  background: $theme-primary;
}

.center {
  background: $theme-primary;
}

.card-icon, .card {
  @include flexbox ($disp: flex,
        $dir: column,
        $wrap: wrap,
        $just: space-around);
    margin: 30px 10px;
    padding: 20px 20px;
    text-align: center;
    transition: all .5s;
    min-height: 320px;
    border: solid $border-light 1px;
      @include mq(large) {
        width: 30%;
      }
}

.card-2 {
  text-align: center;
  margin: 10px;
  background: rgba(5, 5, 5, .5);
  padding: 10px;
  border-radius: 5px;
    @include mq(large) {
      width: 30%;
    }
  }

  .card:hover {
   box-shadow: 2px 2px 25px 2px $theme-secondary;
  }

  .blurb {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 900px;
    text-align: center;
    background: $bg-2;
    transition: all .5s;
  }

  .blurb,  .card-icon:hover {
      box-shadow: 2px 2px 25px 2px $theme-secondary;
  }

 .flex.row-3.blurb-2 {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
  }
  

  /*******
  temporary styles for contact card
  ********/

  .temp {
    max-width: 500px;
    margin: auto; 
  }