.card-wrapper, .row-2 {
  @include flexbox ($disp: flex,
  $dir: column,
  $wrap: wrap,
  $just: space-around);
  align-items: center;
  background: $theme-secondary;
  color: $font-c-secondary;
     @include mq(medium) {
        @include flexbox($dir: row);
        padding: 50px;
  }
} 


.card {
  min-height: 352px;
}

.wrapper-grey {
  background: $theme-tertiary;
}

/*TESTIMONIALS SECTION */

.testimonials {
  @include flexbox ($disp: flex,
  $dir: column,
  $wrap: wrap,
  $just: space-around);
  @include mq(medium) {
    @include flexbox($dir: row);
    padding: 80px 50px;
  }
}



/**** end testimonials *****/

.why-us {
  @include flexbox ($disp: flex, $dir: column, $wrap: wrap, $just: space-around);
  background-image: url(../images/home-office-599475_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: inherit;
  padding: 80px 0;
   @include mq (large) {
     @include flexbox ($dir: row);
     max-height: em(400px);
   }

}

.column-left {
  
  color: $theme-secondary;
  @include mq (large) {
    text-align: left;
    max-width: 50%;
    height: auto;
    padding-left: em(100px);
  }
 }

 .column-left hr {
   @include mq (medium) {
     float: left;
   }
 }

.main-heading {
  background: $theme-primary;
}

.center {
  background: $theme-primary;
}

.card-icon, .card {
  @include flexbox ($disp: flex,
        $dir: column,
        $wrap: wrap,
        $just: space-around);
    margin: 30px 10px;
    padding: 20px 20px;
    text-align: center;
    transition: all .5s;
    min-height: 320px;
    border: solid $border-light 1px;
    &:hover > h3 {
      color: $hover;
      transition: $fade-in;
    }
    &:hover > svg {
      color: $hover;
      transition: $fade-in;
    } 
      @include mq(large) {
        width: 30%;
      }
}

.card-icon {
  @include mq (medium) {
    max-width: em(607px);
  }
}

.card-2 {
  @include flexbox ($disp: flex, $dir: column, $wrap: wrap, $just: space-between);
  margin: 10px;
  background: rgba(5, 5, 5, .5);
  padding: 10px;
  border-radius: 5px;
    @include mq(large) {
      width: 30%;
    }
  }

  .blurb {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 900px;
    text-align: center;
    background: $bg-2;
    transition: all .5s;
  }


 .flex.row-3.blurb-2 {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
  }
  

  /*******
  temporary styles for contact card
  ********/

  .temp {
    max-width: 500px;
    margin: auto; 
  }

  /****************************
  Clients Photo containers and overlay
  ***************************/

  .clients-wrapper {
    max-width: 1424px;
    margin: auto;
  }

  .photo {
    position: relative;
    line-height: 0;
    overflow: hidden;
    max-width: em(300px);
    margin: em(20px) auto;
    box-shadow: 2px 2px 25px 2px #000;
    border: solid 1px $theme-primary;

  }
  .photo-container img {
     max-width: 100%;
  }
 
  
  /* ---- Photo Overlay ---- */
  
  .photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .65);
  }

  
  /* ================================= 
    Photo Overlay Transition
  ==================================== */
  
  .photo-overlay {
    opacity: 0;
    transition-property: opacity;
    transition-duration: .5s;
  }
  .photo-overlay:hover {
    opacity: 1;
  }
  

