header {
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 60px 0;
    border: solid grey 5px;
    line-height: 1.5;
    @include mq(large) {
        min-height: 470px;
      }
  }


