.home {
    background-image: url('../images/bgimg.jpg');
    height: 100%;
  }

.my-work {
    background-image: url('../images/milky-way-2695569_1920\ copy.jpg');
}

.contact {
    background-image: url('../images/jonatan-pie-198162.jpg');
}


  a.twitter {
    background-image: url(../images/twitter.svg);
  }
  a.linkedin {
    background-image: url(../images/linkedin.svg);
  }
  a.github {
    background-image: url(../images/github.svg);
  }

  .mb-img {
    max-width: 300px;
  }



  /********************

  ICONS

  **********************/

    a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
  }

  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }

.test-wrapper {
    background-image: url(../images/workplace-1245776_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-attachment: inherit;
}

 .mock-wrapper {
     text-align: center;
 }

 .mock-img {
     max-width: 300px;
     padding-bottom: 40px;
 }


  .top-logo {
      width: 150px;
      margin: auto;
      float: left;
  }

 /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
 
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: inherit;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    margin: 20px 0;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #222;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


  //styles for larger screens:

  @media screen and (min-width: 1024px) {
    .screenshot-container, .testimonials, .home   {
        background-attachment: fixed;
    }

  }

  /****************************
MAP STYLES
****************************/

#map {
  height: 400px;
  width: 100%;
}

.map-address {
  margin-bottom: 60px;
}

  /****************************
Icons
****************************/

.svg-inline--fa {
  color: $theme-primary;
  font-size: 3em;
  align-self: center;
  padding-bottom: 10px;
}

.svg-inline--fa:hover {
  color: $hover;
}

.fab,
.fa-facebook-square,
.fa-twitter-square,
.fa-linkedin,
.fa-github-square,
.fa-instagram {
  color: $theme-secondary;
}

.hr-1 {
  max-width: em(100px);
  border: 2px solid $theme-primary;
  border-radius: em(10px);
}

hr.choose-us {
  position: absolute;
}

/*******************************
customer tiles
*******************************/

.appy {
  background: url(../images/appy-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}
.ukss {
  background: url(../images/ukss-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}
.geva {
  background: url(../images/geva-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}
.chtree {
  background: url(../images/c&htrees-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}
.burston {
  background: url(../images/burston-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}
.f4l {
  background: url(../images/1f4l-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}
.fmoves {
  background: url(../images/freight-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}
.seg {
  background: url(../images/segillard-shot.png) 50%/ cover 
    border-box /* background-origin */
    padding-box /* background-clip */;
    position: relative;
    /* same styles as before */  
}

.clients {
  margin: 10px;
  border: solid $b rgba(#000, .2);
  height: 50vmin;
  width: em(300px);
  height: em(300px);
  box-shadow: 1px 1px 15px 1px $theme-primary;

    
    &:before {
      position: absolute;
      z-index: -1;
      /* go outside padding-box by 
        * a border-width ($b) in every direction */
      top: -$b; right: -$b; bottom: -$b; left: -$b;
      border: inherit;
		border-color: transparent;
		background: inherit;
		background-clip: border-box;
		/* -webkit-prefixed version 
		 * still needed for 
		 * some mobile browsers 💔😭 */
		-webkit-filter: $blur;
						filter: $blur;
		content: ''
          

  }
}

/* end customer tiles */

/*******************************
iphone
*******************************/

.iphone {
  max-width: 50%;
  align-self: center;
    @include mq (large) {
      max-width: 10%;
      height: auto;
      margin: auto;
    }
}

/* end i phone */

  

