.home {
    background-image: url('../images/bgimg.jpg');
    height: 100%;
  }

.my-work {
    background-image: url('../images/milky-way-2695569_1920\ copy.jpg');
}

.contact-bg {
    background-image: url('../images/tablet-1075790_1920.jpg');
}

.privacy-bg {
  background-image: url('../images/cyber-3728141_1280.jpg');
}


  a.twitter {
    background-image: url(../images/twitter.svg);
  }
  a.linkedin {
    background-image: url(../images/linkedin.svg);
  }
  a.github {
    background-image: url(../images/github.svg);
  }

  .mb-img {
    max-width: 300px;
  }

  .index-img {
    display: none;
    @include mq (large) {
      display: block;
    }
  }

  /********************

  devices slide in annimation

  **********************/

  
  div.slide-show  {
    animation: slide-show 5s;
    margin-top:0%;
  }
  
  @keyframes slide-show {
    from {
      margin-left: 20%;
    }

    to {
      margin-left: 0%;
    }
  }
  
  
 /* <div class="slide-slow">
  <div class="inner"> */
 

  .devices {
    max-width: 40%;
    margin-top: em(300px);
    @include mq (large) {
      &:hover {
        transform: scale(1.1);
        transition: $fade-in;
      }
    }
  }



  /********************

  ICONS

  **********************/

    a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
  }

  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }

.test-wrapper {
    background-image: url(../images/workplace-1245776_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-attachment: inherit;
    padding-bottom: 0;
    margin-top: em(80px);
}

 .mock-wrapper {
     text-align: center;
 }

 .mock-img {
     max-width: 300px;
     padding-bottom: 40px;
 }


  .top-logo {
      width: 150px;
      margin: auto;
      float: left;
  }

 /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
 
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: inherit;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    margin: 20px 0;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #222;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


  //styles for larger screens:

  @media screen and (min-width: 1024px) {
    .screenshot-container, .testimonials, .home   {
        background-attachment: fixed;
    }

  }

  /****************************
MAP STYLES
****************************/

#map {
  height: 400px;
  width: 100%;
}

.map-address {
  margin-bottom: 60px;
}

  /****************************
Icons
****************************/

.svg-inline--fa {
  color: $theme-primary;
  font-size: 3em;
  align-self: center;
  padding-bottom: 10px;
}

.fab,
.fa-facebook-square,
.fa-twitter-square,
.fa-linkedin,
.fa-github-square,
.fa-instagram {
  color: $theme-secondary;
}




/*******************************
iphone
*******************************/

.iphone { 
  display: none;
    @include mq (large) {
      display: block;
      align-self: center;
      max-width: 10%;
      height: auto;
      margin: auto;
      &:hover {
        transform: rotate(10deg) scale(1.1);
        transition: $fade-in;
      }
    }
}


/* end i phone */

.divider {
  max-width: em(200px);
}

.d2 {
  @include mq (large) {
    margin-left: em(10px);
  }
}

/***** Testeminials *****/

.test-img {
  max-width: em(80px);
  border-radius: 50%;
  align-self: center;
  margin: auto;
}

  

