/******************

HEADER

******************/

h1 {
  color: $theme-secondary;
  font-size: em(60px);
  margin-top: 180px;
    @include mq (large) {
      padding-top: 100px;
    }
}

.statement {
  @include mq (large) {
    max-width: em(900px);
    margin: 0 auto 40px auto;
  }
}

  .color-head {
    color: $theme-primary;
  }


/******************

HEADER END

******************/

.wrapper-grey p {
  padding: 0 10px;
}

p {
  margin-top: 0;
  padding: 10px;
}

h2 {
  font-size: 34px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.tag {
    font-family: $font-secondary-sans;
}

h3 {
 color: $theme-primary;
 font-size: 26px;
 margin: 0;
}

.align-left {
    text-align: left;
}

.testemonials {
    color: #fff;
}

.test-p {
  color: $theme-secondary;
}

.testimonial-person,
.testimonial-company {
  color: $theme-primary;
  margin: em(5px) 0;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

.port-heading {
    color: #fff;
}

.scroll {
  font-size: 1.5em;
  background: red;
}

.privacy-text {
  color: #000;
  padding: 80px;
  text-align: left;
}

h3 .test-title {
  padding-bottom: 20px;
}

.h2-margin-top {
  margin-top: em(60px);
}

.client-title {
  margin-bottom: em(20px);
  line-height: 1.5em;
}
/***************
LINKS
****************/
a {
  color: #fff;
}

/******* forms ***/

.home-form {
  color: $theme-secondary;
}

/******* Contact page styles *********/

.contact-h1 {
  color: $theme-primary;
  margin: em(80px) 0;
}

