* { 
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $theme-secondary;
    background: #fff;
  }

  .row-2 {
      background: #fff;
  }

  .flex {
      padding: 60px 0;
      @include mq(large) {
        .flex {
             display: -ms-flexbox;      /* TWEENER - IE 10 */
             display: flex; 
             -ms-flex-pack: distribute;
             justify-content: space-around;
             margin: 0 auto;
                @include mq(large) {
                    @include flexbox ($dir: row);
                }
         }
       }
  }

 